html {
    background-color: #0080ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
    align-content: center;
    padding: 1rem;
    text-align: center;
}

h1 {
    padding: 2rem;
    margin: 1rem auto;
    text-transform: uppercase;
    color: rgb(102, 56, 4);
}

p {
    color: rgb(0, 0, 116);
}

p em {
    color: red;
}