---
const { platform, username } = Astro.props;

// const git = "github";
// const gitName = "Maximo-sudo";

// const ig = "instagram";
// const igName = "m4xlm0_69";
---

<a class="footerLinks" href={`http://www.${platform}.com/${username}`}>{platform}</a>

