---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Programación Astro</title>
        <link rel="stylesheet" href="/practicaAstra_1/src/pages/styles/global.css" />
	</head>
	<body>
		<a href="/">Inicio</a>
        <a href="/about/">Sobre Mi</a>
        <a href="/blog/">Blog</a>

        <h1>Sobre MI</h1>
        <h2>Mi nuevo sitio</h2>
        <p id="bloq1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas praesentium earum magnam cupiditate? Sed magnam qui temporibus, assumenda quo recusandae quaerat culpa amet, distinctio non, ut iure quasi esse.
        Omnis voluptas architecto maxime laborum nobis optio. Officia commodi quas vero facilis ducimus veniam accusamus! Tempora autem a voluptas est. Animi culpa libero reprehenderit qui nam molestias eaque odit soluta.</p>
        <p id="bloq2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae debitis et, laborum eligendi at quibusdam consequatur rem error quis hic quos suscipit aliquam nam vitae? Beatae, sapiente. Ab, modi temporibus!
        Accusamus aliquam repellendus, eligendi hic autem dolore voluptatum modi consequatur voluptatibus necessitatibus eos at pariatur placeat obcaecati, veritatis qui blanditiis fuga reiciendis dolorem. Impedit odio facere aperiam praesentium iure saepe.</p>
	</body>
</html>