---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique soluta perspiciatis nobis officia vitae suscipit optio iste, laudantium animi odit eligendi quas dolorum sint repudiandae tenetur! Molestiae, illo ex.</p>
</BaseLayout>