---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page Layout";
---
<BaseLayout>
    <h2>This Is The Layout Of The Blog</h2>
    <h2>This Is The Layout Of The Blog</h2>
</BaseLayout>